.container
    .col-xs-12
        .col-xs-12.col-sm-6.col-md-4
            h3 Eric Lowe
            p Bitches ain't shit but hoes and tricks, lick on these nuts and suck the dick. Gets the fuck out after you're done and I hops in my ride to make a quick run.
        .col-xs-12.col-sm-6.col-md-4
            h3 Braydon Devries
            p His palms are sweaty, knees weak, arms are heavy. There's vomit on his sweater already: Mom's spaghetti.
        .col-xs-12.col-sm-6.col-md-4
            h3 Mark Journigan
            p Ten percent luck, twenty percent skill, fifteen percent concentrated power of will. Five percent pleasure, fifty percent pain, and a hundred percent reason to remember the name.
        .col-xs-12.col-sm-6.col-md-4
            h3 Taylor Boyd
            p All right stop. Collaborate and listen, Ice is back with my brand new invention. Something grabs a hold of me tightly, then I flow that a harpoon daily and nightly
        .col-xs-12.col-sm-6.col-md-4
            h3 Ambrose Piambo
            p I only call you when it's half past five, The only time that I'll be by your side. I only love it when you touch me, not feel me, When I'm fucked up, that's the real me.
        .col-xs-12.col-sm-6.col-md-4
            h3 Player 6
            p Where the waitress at, let's get it in motion, Yeah I got the potion I thought you should know. Bitch on my arm like Marilyn Monroe and she like bitches so I like her, playin' with the kitty and it ain't got fur
