.container
    .row
        .col-xs-12
            .col-xs-4
                h1 Eric Lowe
            .col-xs-4
                h1 Braydon Devries
            .col-xs-4
                h1 Mark Journigan
    .row
        .col-xs-12
            .col-xs-4
                h1 Taylor Boyd
            .col-xs-4
                h1 Ambrose Piambo
            .col-xs-4
                h1 Player 6
