doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Players 6
        link(href="css/stars.css", rel="styleSheet")
        link(href="css/style.css", rel="styleSheet")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    body
        .stars
        .twinkling
        .clouds
        .col-xs-12.p6-block
            .row
                h1.p6.text-center Players 6
            .row
                h1.p6.text-center
                    small Coming Soon