@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html, body {
    background-color: #000000;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.p6 {
    font-size: 48px;
    position: relative;
    z-index: 2;
    font-family: "Press Start 2P";
    color: #ffffff;
}

.p6-time{
    font-size: 24px;
    position: relative;
    z-index: 2;
    font-family: "Press Start 2P";
    color: #ffffff;
}

.about-box{
    margin-top: 10%;
}

.p6-what {
    font-size: 24px;
    position: relative;
    z-index: 2;
    font-family: "Press Start 2P";
    color: #ffffff;
}

.p6-desc {
    font-size: 18px;
    position: relative;
    z-index: 2;
    font-family: "Press Start 2P";
    color: #bebebe;
}

.p6-link {
    color: #80beff;
    position: relative;
    z-index: 2;
}

.p6-link:hover {
    position: relative;
    z-index: 2;
}

.p6-link:active {
    color: #bababa;
    position: relative;
    z-index: 2;
}

.p6-link:visited {
    color: #80beff;
    position: relative;
    z-index: 2;
}

.p6-link {
    position: relative;
    z-index: 2;
}

.p6-block{
    margin-top: 20%;
}
