extends ../includes/layout

block main-content
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.p6-font(href='/') PLAYERS: 6
            .navbar-collapse.collapse.navbar-right
                ul.nav.navbar-nav
                    li(ng-class="{active: $route.current.activetab == 'home'}")
                        a(href='/') HOME
                    li(ng-class="{active: $route.current.activetab == 'players'}")
                        a(href='/players') PLAYERS
                    li(ng-class="{active: $route.current.activetab == 'contact'}")
                        a(href='/contact') CONTACT

    div(ng-view)
    #footerwrap
        .container
            .row
                .col-lg-6
                    h4 About
                    .hline-w
                    p
                        | Just a group of friends getting together to play video games and the like. Subscribe to us on YouTube for more fun.
                .col-lg-2
                    h4 Social Links
                    .hline-w
                    p
                        a(href='https://twitter.com/Players6_Actual')
                            i.fa.fa-twitter
                        a(href='https://www.youtube.com/channel/UCjug0bQtWqtKERXudtdAPNA')
                            i.fa.fa-youtube
