extends ../includes/layout

block main-content
    // Following Menu
    .ui.large.top.fixed.hidden.menu
        .ui.container
            a.active.item Home
            a.item Players
            a.item Confused?
            a.item Contact
            //.right.menu
            //    .item
            //        a.ui.button Log in
            //    .item
            //        a.ui.primary.button Sign Up
    // Sidebar Menu
    .ui.vertical.inverted.sidebar.menu
        a.active.item Home
        a.item Players
        a.item Confused?
        a.item Contact
        //a.item Login
        //a.item Signup
    // Page Contents
    .pusher
        .ui.inverted.vertical.masthead.center.aligned.segment
            .ui.container
                .ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.active.item Home
                    a.item Players
                    a.item Confused?
                    a.item Contact
                    //.right.item
                    //    a.ui.inverted.button Log in
                    //    a.ui.inverted.button Sign Up
            .ui.text.container
                h1.ui.inverted.header
                    | Players 6
                h2 Youtube gaming gone wrong
                .ui.huge.primary.button
                    | Get Started
                    i.right.arrow.icon
        div(ng-view)
