extends ../includes/layout

block main-content
    // Following Menu
    .ui.large.top.fixed.hidden.menu
        .ui.container
            a.active.item Home
            a.item Players
            a.item Confused?
            a.item Contact
            //.right.menu
            //    .item
            //        a.ui.button Log in
            //    .item
            //        a.ui.primary.button Sign Up
    // Sidebar Menu
    .ui.vertical.inverted.sidebar.menu
        a.active.item Home
        a.item Players
        a.item Confused?
        a.item Contact
        //a.item Login
        //a.item Signup
    // Page Contents
    .pusher
        div(ng-view)
