$primary: #B970B9;
$primary-dim: #7A4A7A;
$primary-dark: #6d426d;

$secondary: #FFB06C;
$secondary-dim: #BF8451;
$secondary-dark: #7F5836;

$dark: #ic1919;
$gray: #403d3c;
$light: #bebebe;
$white: #ededed;
