#fullBg
    .container
        form.form-signin(action="/")
            h1.form-signin-heading Login
            input.form-control(type='text', name='username', placeholder='Email Address', required='', autofocus='')
            input.form-control(type='password', name='password', placeholder='Password', required='')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
        p.text-center.sign-up
            a.text-primary(href="/signup")
                strong Sign up
            |  for a new account
