doctype
html
    head
        title Players 6
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(href='css/bootstrap.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        link(href='css/nms.css', rel='stylesheet')
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        base(href="/")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
    body(ng-app='app', ng-controller='overlordCtrl')
        block main-content
        include scripts
