script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/sidebar.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/visibility.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/transition.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js')
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mainCtrl.js")
script(type="text/javascript", src="/app/account/loginCtrl.js")
script(type="text/javascript", src="/app/account/signupCtrl.js")
