script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
script(src="http://simonalex.com/demo/bootstrap/carouselbox/bootstrap-carousel-ie.js")
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js')
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/overlordCtrl.js")
script(type="text/javascript", src="/app/main/mainCtrl.js")
script(type="text/javascript", src="/app/main/playersCtrl.js")
script(type="text/javascript", src="/app/main/contactCtrl.js")
script(type="text/javascript", src="/app/account/loginCtrl.js")
script(type="text/javascript", src="/app/account/signupCtrl.js")
script(src='scripts/retina-1.1.0.js')
script(src='scripts/jquery.hoverdir.js')
script(src='scripts/jquery.hoverex.min.js')
script(src='scripts/jquery.prettyPhoto.js')
script(src='scripts/jquery.isotope.min.js')
script(src='scripts/main.js')

