.container-fluid.text-center
    .row.content
        .col-sm-3.col-lg-2.sidenav
        .col-sm-6.col-lg-8.text-left
            h1 We Are Players: 6
            p
                | Players 6 is a collaborative and fun, game focused YouTube channel. It features 5 players, with an illusive 6th player who will be a random friend of ours to spice it up once in a while. We hope to bring something new and exciting to the YouTube gaming community. We'd like to put the fun back into it, in contrast to what has been the status quo. We look forward to your suggestions and what we can contribute to the community. ­- Until then.
            .p6-line
        .col-sm-3.col-lg-2.sidenav
