#blue
    .container
        .row
            h3 Contact.

#contactwrap
    .container.mtb
        .row
            .col-lg-12
                h4 Just Get In Touch!
                .hline
                p
                    | Email: officialplayers6@gmail.com
                p
                    | We are normally pretty busy but we read every email we get so dont hesitate to reach us!
