.container-fluid.text-center
    .row.content
        .col-sm-3.col-lg-2.sidenav
        .col-sm-6.col-lg-8.text-left
            h3 Most Recent Videos
            .col-sm-12.col-md-6.youtube-highlight
                .embed-responsive.embed-responsive-16by9
                    iframe.center-block.embed-responsive-item(width='738', height='415', src='https://www.youtube.com/embed/bhloBoZqyMI', frameborder='0', allowfullscreen='')
            .col-sm-12.col-md-6.youtube-highlight
                .embed-responsive.embed-responsive-16by9
                    iframe.center-block.embed-responsive-item(width='738', height='415', src='https://www.youtube.com/embed/V_n2B-6UDlc', frameborder='0', allowfullscreen='')
            .col-sm-12.col-md-6.youtube-highlight
                .embed-responsive.embed-responsive-16by9
                    iframe.center-block.embed-responsive-item(width='738', height='415', src='https://www.youtube.com/embed/HnXS3SvYi_Q', frameborder='0', allowfullscreen='')
            .col-sm-12.col-md-6.youtube-highlight
                .embed-responsive.embed-responsive-16by9
                    iframe.center-block.embed-responsive-item(width='738', height='415', src='https://www.youtube.com/embed/Q3ZMlwsHMmA', frameborder='0', allowfullscreen='')
            .col-sm-12.col-md-6.youtube-highlight
                .embed-responsive.embed-responsive-16by9
                    iframe.center-block.embed-responsive-item(width='738', height='415', src='https://www.youtube.com/embed/lJ7cFrXGaQI', frameborder='0', allowfullscreen='')
            .col-sm-12.col-md-6.youtube-highlight
                .embed-responsive.embed-responsive-16by9
                    iframe.center-block.embed-responsive-item(width='738', height='415', src='https://www.youtube.com/embed/NHUqp9sVEqQ', frameborder='0', allowfullscreen='')
        .col-sm-3.col-lg-2.sidenav
footer.container-fluid.text-center



