.stars
.twinkling
.clouds
.col-xs-12.p6-block
    .row
        h1.p6.text-center Players 6
    .row
        h1.p6.text-center
            small {{dateLeft.days}} Days, {{dateLeft.hours}} Hours, {{dateLeft.minutes}} Minutes, {{dateLeft.seconds}} Seconds
