#headerwrap
    .container
        .row
            .col-lg-8.col-lg-offset-2
                h1.p6-font Players: 6
                h5 Best put your seatbelt on
                h5 cause were going to take you for the ride of your life
#service
    .container
        .row.centered
            .col-md-6
                i.fa.fa-heart-o
                h4 Loveable Crew
                p
                    | Our channel features 5 foolhardy, video game enthusiasts that love to just have fun! Except Ambrose. He plays for the achievements. Anyways, Were here to entertain you cause we definitely entertain ourselves!
                p
                    br
                    a.btn.btn-theme(href='/players') Meet the Players
            .col-md-6
                i.fa.fa-trophy
                h4 Ready for Greatness
                p
                    | Some of us tend to say the dumbest things. Thats why we decided to share our stupidity with YouTube! We were born ready to make everyone enjoy our activities just as much as us!
                p
                    br
                    a.btn.btn-theme(href='https://www.youtube.com/channel/UCjug0bQtWqtKERXudtdAPNA', target="_blank") Check us out on YouTube
#portfoliowrap
    h3 LATEST VIDEOS
    .portfolio-centered
        .recentitems.portfolio
            .portfolio-item.graphic-design(ng-repeat="video in recentVids")
                .he-wrap.tpl6
                    img(src='{{video.snippet.thumbnails.high.url}}', alt='')
                    .he-view
                        .bg.a0(data-animate='fadeIn')
                            h3.a1(data-animate='fadeInDown') {{video.snippet.title}}
                            a.dmbutton.a2(href='https://www.youtube.com/watch?v={{video.contentDetails.videoId}}', data-animate='fadeInUp')
                                i.fa.fa-youtube-play

