.stars
.twinkling
.clouds
.col-xs-12.p6-block
    .row
        h1.p6.text-center Players 6
    .row
        h1.p6-time.col-xs-3.text-center {{dateLeft.days}}
            small  Days
        h1.p6-time.col-xs-3.text-center {{dateLeft.hours}}
            small  Hours
        h1.p6-time.col-xs-3.text-center {{dateLeft.minutes}}
            small  Minutes
        h1.p6-time.col-xs-3.text-center {{dateLeft.seconds}}
            small  Seconds
