.ui.vertical.stripe.segment
    .ui.middle.aligned.stackable.grid.container
        .row
            .eight.wide.column
                h3.ui.header We Make Youtube Videos
                p
                    | A group of friends with the ultimate goal of having fun, come together to create an enjoyable experience
                h3.ui.header We Create Memories
                p
                    | Where else will you hear someone cry at a video game?
            .six.wide.right.floated.column
                img.ui.large.bordered.rounded.image(src='../../assets/preview.png')
        .row
            .center.aligned.column
                a.ui.huge.button(href="https://www.youtube.com/channel/UCjug0bQtWqtKERXudtdAPNA", target="_blank") Check Us Out
.ui.vertical.stripe.quote.segment
    .ui.equal.width.stackable.internally.celled.grid
        .center.aligned.row
            .column
                h3 "Shit, Shit, Shit, Dick in my ass"
                p Quality commentary
            .column
                h3 "Go Go Gadget Dick!!"
                p
                    img.ui.avatar.image(src='https://images.unsplash.com/photo-1442120108414-42e7ea50d0b5?fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1225')
                    b Ambrose
                    |  Achievement Enthusiast
.ui.vertical.stripe.segment
    .ui.text.container
        h3.ui.header Most Popular Videos
        p
            | Some of our videos are better than the others. Not that were biased or anything.
        a.ui.large.button Popular Vids
        h3.ui.header Have you met the team yet?
        p
            | There's Five of us but who's the 6th Player? Find out more on our Players Page!
        a.ui.large.button Players
.ui.inverted.vertical.footer.segment
    .ui.container
        .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
                h4.ui.inverted.header About
                .ui.inverted.link.list
                    a.item(href='#') Sitemap
                    a.item(href='#') Contact Us
            .three.wide.column
                h4.ui.inverted.header Services
                .ui.inverted.link.list
                    a.item(href='#') Donate
                    a.item(href='#') P:6 FAQ
            .seven.wide.column
                h4.ui.inverted.header Check us out on YouTube
                p
                    | We try and create content as often as possible to keep things fresh so stay tuned
script(type="text/javascript", src="/scripts/main.js")
