.ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
        .ui.large.secondary.inverted.pointing.menu
            a.toc.item
                i.sidebar.icon
            a.active.item Home
            a.item Players
            a.item Confused?
            a.item Contact
            //.right.item
            //    a.ui.inverted.button Log in
            //    a.ui.inverted.button Sign Up
    .ui.text.container
        h1.ui.inverted.header
            | Players 6
        h2 Youtube gaming gone wrong
        .ui.huge.primary.button
            | Get Started
            i.right.arrow.icon
.ui.vertical.stripe.segment
    .ui.middle.aligned.stackable.grid.container
        .row
            .eight.wide.column
                h3.ui.header We Make Youtube Videos
                p
                    | A group of friends with the ultimate goal of having fun, come together to create an enjoyable experience
                h3.ui.header We Create Memories
                p
                    | Where else will you hear someone cry at a video game?
            .six.wide.right.floated.column
                img.ui.large.bordered.rounded.image(src='../../assets/preview.png')
        .row
            .center.aligned.column
                a.ui.huge.button(href="https://www.youtube.com/channel/UCjug0bQtWqtKERXudtdAPNA", target="_blank") Check Us Out
.ui.vertical.stripe.quote.segment
    .ui.equal.width.stackable.internally.celled.grid
        .center.aligned.row
            .column
                h3 "Shit, Shit, Shit, Dick in my ass"
                p Quality commentary
            .column
                h3 "Go Go Gadget Dick!!"
                p
                    img.ui.avatar.image(src='https://images.unsplash.com/photo-1442120108414-42e7ea50d0b5?fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1225')
                    b Ambrose
                    |  Achievement Enthusiast
.ui.vertical.stripe.segment
    .ui.text.container
        h3.ui.header Most Popular Videos
        p
            | Some of our videos are better than the others. Not that were biased or anything.
        a.ui.large.button Popular Vids
        h3.ui.header Have you met the team yet?
        p
            | Theres Five of us but whos the 6th Player? Find out more on our Players Page!
        a.ui.large.button Players
.ui.inverted.vertical.footer.segment
    .ui.container
        .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
                h4.ui.inverted.header About
                .ui.inverted.link.list
                    a.item(href='#') Sitemap
                    a.item(href='#') Contact Us
                    a.item(href='#') Religious Ceremonies
                    a.item(href='#') Gazebo Plans
            .three.wide.column
                h4.ui.inverted.header Services
                .ui.inverted.link.list
                    a.item(href='#') Banana Pre-Order
                    a.item(href='#') DNA FAQ
                    a.item(href='#') How To Access
                    a.item(href='#') Favorite X-Men
            .seven.wide.column
                h4.ui.inverted.header Footer Header
                p
                    | Extra space for a call to action inside the footer that could help re-engage users.
script(type="text/javascript", src="/scripts/main.js")
