#headerwrap
    .container
        .row
            .col-lg-8.col-lg-offset-2
                h1.p6-font Players: 6
                h5 Best put your seatbelt on
                h5 cause were going to take you for the ride of your life
#service
    .container
        .row.centered
            .col-md-6
                i.fa.fa-heart-o
                h4 Loveable Crew
                p
                    | Our channel features 5 foolhardy, video game enthusiasts that love to just have fun! Except Ambrose. He plays for the achievements. Anyways, Were here to entertain you cause we definitely entertain ourselves!
                p
                    br
                    a.btn.btn-theme(href='/players') Meet the Players
            .col-md-6
                i.fa.fa-trophy
                h4 Ready for Greatness
                p
                    | Some of us tend to say the dumbest things. Thats why we decided to share our stupidity with YouTube! We were born ready to make everyone enjoy our activities just as much as us!
                p
                    br
                    a.btn.btn-theme(href='https://www.youtube.com/channel/UCjug0bQtWqtKERXudtdAPNA', target="_blank") Check us out on YouTube
.container-fluid.recent-vids
    .col-xs-12.col-md-3(ng-repeat="vid in recentVids")
        img.img-responsive.center-block(src="{{vid.snippet.thumbnails.medium.url}}")
        h2.text-center {{vid.snippet.title}}
        a.btn.btn-theme.center-block(target="_blank", href="https://www.youtube.com/watch?v={{vid.contentDetails.videoId}}") Watch on YouTube
#footerwrap
    .container
        .row
            .col-lg-6
                h4 About
                .hline-w
                p
                    | Just a group of friends getting together to play video games and the like. Subscribe to us on YouTube for more fun.
            .col-lg-2
                h4 Social Links
                .hline-w
                p
                    a(href='https://twitter.com/Players6_Actual')
                        i.fa.fa-twitter
                    a(href='https://www.youtube.com/channel/UCjug0bQtWqtKERXudtdAPNA')
                        i.fa.fa-youtube
