style.
    body{
        background-image: url("../../css/images/bg.jpg");
        background-size: cover;
    }
    h3 {
        font-family: "No Mans Sky";
    }
#nms
    .container
        .row
            h3 No Man's Sky
#contactwrap
    .container.mtb
        .row
            #clockdiv.col-lg-12
                div.col-xs-3
                    .days {{days}}
                    .smalltext Days
                div.col-xs-3
                    .days {{hours}}
                    .smalltext Hours
                div.col-xs-3
                    .days {{minutes}}
                    .smalltext Minutes
                div.col-xs-3
                    .days {{seconds}}
                    .smalltext Seconds
